<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsLetter Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body class="text-center">
    <!-- <div class="container"> -->
    <form class="form-signin" method="post" action="/">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Signup to My Newsletter!</h1>
        <input type="text" name="fName" id="inputFirstName" class="form-control top" placeholder="First Name" required autofocus>        
        <input type="text" name="lName" id="inputLastName" class="form-control middle" placeholder="Last Name" required>        
        <input type="email" name="email" id="email" class="form-control bottom" placeholder="Email" required>        
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign ME Up</button>
        <p class="mt-5 mb-3 text-muted">Spy-Eye</p>
      </form>
    <!-- </div> -->

    <script src="app.js"></script>
</body>
</html>